html {
    font-size: 16px;
    font-family: "Serif Pro", Georgia, Times, "Times New Roman", serif !important
}

#logo-sn {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    /* padding-top: 50%; */
    background-image: url('../images/logo-sn-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    z-index: 0;
    color: white;
    font-size: 7rem;
}

#more-about-sn {
    position: relative;
    /* margin-top: 100vh; */
    top: 100vh;
    z-index: 1;
    background-color: white;
    height: 200vh;
}


/* Header */
header {
    position: fixed;
    width: 100%;
    /* background: rgba(255, 255, 255, 0.2); */
    z-index: 3;
    /* backdrop-filter: blur(5px); */
    box-shadow: inset 0 400px 100px -300px black;
    height: 200px;
    color: white;
}

#header-top {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    height: 3rem;
    padding-left: 12%;
    padding-right: 12%;
    justify-content: space-between;
    margin-top: 5px;
    /* background-color: aqua; */
}

#header-top h2 {
    font-size: 1.5rem;
}

.header-top-item+.header-top-item {
    margin-left: 1.3rem;
}

.header-top-item.link {
    cursor: pointer;
    padding-top: 0.9rem;
    /* transition: border-top 5s; */
    /* background-color: aliceblue; */
}

.header-top-item.link:after {
    content: '';
    border-bottom: solid 3px #019fb6;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.header-top-item.link:hover:after {
    transform: scaleX(1);
    /* border-top: 5px solid white; */
}

#header-bottom {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 3rem;
    justify-content: space-around;
}

.header-bottom-link+.header-bottom-link {
    margin-left: 1.3rem;
}

nav li {
    display: inline;
}