a {
  color: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  color: white;
  font-size: 42px;
  font-weight: 300;
}

header {
  text-align: left;
  color: white;
}

footer {
  text-align: right;
  color: gray;
}

.description {
  font-size: 21px;
  color: gray;
}

.download-link {
  font-size: 16px;
  color: aquamarine;
}
